@import 'tailwindcss';

@theme {
  --color-fem-white: hsl(0, 100%, 100%);
  --color-fem-light-purple: hsl(275, 100%, 97%);
  --color-fem-grayish-purple: hsl(292, 16%, 49%);
  --color-fem-dark-purple: hsl(292, 42%, 14%);
  --font-sans: "Work Sans", sans-serif;
}